body {
    overflow-x: hidden;
    background-color: var(--bg);
    color: var(--txt);
    // overscroll-behavior-y: contain;
    .icon {
        width: 150px;

    }

    #main {
        min-height: 100vh;
        transition-duration: 200ms;
        animation-timing-function: linear;
        // background-color: inherit;
        width: 100%;
        overflow-x: hidden;
        position: relative;
    }
}