.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 20px 20px;
    .deg{
        p{
            font-size: 2rem;
            font-weight: 500;
        }
    }
    .compass{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        >img{
            width: 90%;
            display: block;
            margin-inline: auto;
        }
        .dot{
            height: 20px;
            width: 5px;
            background-color: red;
            margin-bottom: 10px;
            // border-radius: ;
        }
    }
    .location{
        display: flex;
        
        width: 100%;
        
        justify-content: center;
        align-items: center;
        >div{
            flex-grow: 1;
            // outline: 1px solid red;
            text-align: center;
            display: flex;
            flex-direction: column;
            .long,.lat{
                font-size: 1.5em;
                font-weight: 500;
            }
            span.name{
                font-size: 0.8rem;
                color: #888;
                font-weight: 500;
            }

        }
    }

    .lastLink{
        font-size: 0.8rem;
        font-weight: 500;
        color: #555;
        a{
            color: dodgerblue;
        }
    }
}