.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px 20px 20px;
}
.main .deg p {
  font-size: 2rem;
  font-weight: 500;
}
.main .compass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .compass > img {
  width: 90%;
  display: block;
  margin-inline: auto;
}
.main .compass .dot {
  height: 20px;
  width: 5px;
  background-color: red;
  margin-bottom: 10px;
}
.main .location {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main .location > div {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main .location > div .long, .main .location > div .lat {
  font-size: 1.5em;
  font-weight: 500;
}
.main .location > div span.name {
  font-size: 0.8rem;
  color: #888;
  font-weight: 500;
}
.main .lastLink {
  font-size: 0.8rem;
  font-weight: 500;
  color: #555;
}
.main .lastLink a {
  color: dodgerblue;
}
